# Build directories and CMake artifacts
/build/
/cmake-build-*/
/CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
/analizaHeap

# Compiled object files and libraries
*.o
*.obj
*.so
*.dylib
*.dll
*.exe
*.out

# CLion project files
.idea/
*.iml

# macOS system files
.DS_Store
teste/large*.txt